# 1. 정수형

In [11]:
type(10)

int

In [12]:
type(10.0)

float

In [13]:
a = 2
b = 3
a,b

(2, 3)

In [14]:
a+b

5

In [15]:
a-b

-1

In [16]:
a/b

0.6666666666666666

In [17]:
a%b

2

In [18]:
a**b

8

In [19]:
a//b

0

In [20]:
print(a+b*a)
print((a+b)*a)

8
10

# 연습문제1.

In [22]:
a,b = 7, 3.0

c = a//b
d = a%b
e = a**b

In [23]:
a,b,c,d,e

(7, 3.0, 2.0, 1.0, 343.0)

In [24]:
a, b = 7, 3.0
type(a), type(b)

(int, float)

In [25]:
c = int(b)
type(c)

int

In [26]:
c

3

In [28]:
d = float(a)
print(type(d))
type(d)

<class 'float'>

float

In [29]:
mike = 80
judy = 75
sera = 100

avg = (mike + judy + sera) / 3

In [31]:
print(int(avg))

85

In [33]:
 a = True
a

True

In [34]:
type(a)

bool

In [35]:
a,b = 1,2

In [39]:
print(a<b)
print(a>b)
print(a>=b)
print(a<=b)

True
False
False
True

In [40]:
print(a==b)
print(a!=b)

False
True

In [43]:
print(True and True)
print(True or False)

True
True

In [42]:
True or False

True

In [44]:
a = 10
print(a>10 or a==10)

True

In [45]:
print(a>10 and a==10)

False

In [46]:
not a>10

True

In [47]:
a>10

False

In [49]:
x = input("점수1: ")
y = input("점수2: ")
z = input("점수3: ")

int(x)>65 and int(y)>65 and int(z)>65

점수1: 67
점수2: 89
점수3: 23

False

In [54]:
a = None
a

In [52]:
print(a)

None

In [61]:
quote1 = """안녕하세요. 
저는 김선화입니다."""

In [64]:
quote1

'안녕하세요. \n저는 김선화입니다.'

In [65]:
a = '사과'
b = '과일'

In [66]:
a+b

'사과과일'

In [67]:
a*3

'사과사과사과'

In [69]:
a*2 + b + a*3 + b*4

'사과사과과일사과사과사과과일과일과일과일'

In [70]:
quote1 = """안녕하세요. 
저는 김선화입니다."""
print(quote1)

안녕하세요.
저는 김선화입니다.

In [71]:
quote1

'안녕하세요. \n저는 김선화입니다.'

In [72]:
quote = '안녕하세요. \n저는 김선화입니다.'

In [73]:
print(quote)

안녕하세요.
저는 김선화입니다.

In [74]:
quote = '안녕하세요. \n저는 \"김선화\"입니다.'

In [75]:
print(quote)

안녕하세요.
저는 "김선화"입니다.

In [76]:
quote = "안녕하세요 그만하세요."
quote

'안녕하세요 그만하세요.'

In [78]:
quote[0]

'안'

In [79]:
quote[8]

'하'

In [80]:
quote[3:6]

'세요 '

In [84]:
quote[-6:-4]

'그만'

In [85]:
quote[:10]

'안녕하세요 그만하세'

In [86]:
quote[0:8:3]

'안세그'

In [87]:
quote[:]

'안녕하세요 그만하세요.'

In [92]:
quote[::2] + quote[::2]
quote[::2]
quote[::2]

'안하요그하요'

In [107]:
a = "20190505chicken19000"

year = a[0:4]
day = a[4:8]
menu = a[8:15]
money = a[15:]

print(year, '\t\t'+ day, menu, money)

2019 		0505 chicken 19000

In [105]:
name = "김선화"
major = "Computer"

In [109]:
intro = "안녕하세요. %s입니다. 전공은 %s입니다." %(name,major)

In [110]:
print(intro)

안녕하세요. 김선화입니다. 전공은 Computer입니다.

In [111]:
intro

'안녕하세요. 김선화입니다. 전공은 Computer입니다.'

In [112]:
intro = "안녕하세요. {}입니다. 전공은 {}입니다." .format(name,major)

In [113]:
intro

'안녕하세요. 김선화입니다. 전공은 Computer입니다.'

In [114]:
print(intro)

안녕하세요. 김선화입니다. 전공은 Computer입니다.

In [115]:
intro = "안녕하세요. {1}입니다. 전공은 {0}입니다." .format(name,major)

In [117]:
print(intro)

안녕하세요. Computer입니다. 전공은 김선화입니다.

In [127]:
pi=3.141592
pi_def = "PI는 %0.1f입니다." %pi
print(pi_def)

PI는 3.1입니다.

In [126]:
f"PI는 {pi}입니다."

'PI는 3.141592입니다.'

In [153]:
a = "90:30:80"

math = int(a[:2])
english = int(a[3:5])
science = int(a[6:])

average = (math+english+science)/3

print("평균 점수는 {:.2f} 입니다." .format(average))

평균 점수는 66.67 입니다.

In [145]:
quote = "안녕하세요. 저는 김선화입니다."

In [146]:
len(quote)

17

In [147]:
quote.index('.')

5

In [148]:
"Apple".upper()

'APPLE'

In [149]:
"Apple" .lower()

'apple'

In [150]:
quote.replace('.','?')

'안녕하세요? 저는 김선화입니다?'

In [151]:
quote

'안녕하세요. 저는 김선화입니다.'

In [154]:
quote.count(".")

2

In [155]:
a = "     안녕하세요.      저는 김선화입니다.     "

In [156]:
a.lstrip()

'안녕하세요.      저는 김선화입니다.     '

In [157]:
a.rstrip()

'     안녕하세요.      저는 김선화입니다.'

In [158]:
a.strip()

'안녕하세요.      저는 김선화입니다.'

In [161]:
a.replace(' ','')

'안녕하세요.저는김선화입니다.'

In [162]:
a = "90:30:80"
b = a.split(":")
b

['90', '30', '80']

In [164]:
fruit = "Apple Banana"
fruit_list = fruit.split(" ")
print(fruit_list)

['Apple', 'Banana']

In [165]:
". ".join(fruit_list)

'Apple. Banana'

In [167]:
"▲▼▲▼" .join(fruit_list)

'Apple▲▼▲▼Banana'

In [185]:
a = "   90:30:80   "

b = a.strip()

score_list= b.split(":")

math, english, science = list(map(int,score_list))

average = (math+english+science)/3

print("평균 점수는 %.2f입니다" %(average))

평균 점수는 66.67입니다

In [186]:
b = []
type(b)

list

In [187]:
c = list()

In [188]:
type(c)

list

In [189]:
c

[]

In [190]:
range(10)

range(0, 10)

In [191]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [192]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [193]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [199]:
list1 = list(range(3,30,3))
list1

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [196]:
tuple1 = tuple(list1)

In [197]:
tuple1

(3, 6, 9, 12, 15, 18, 21, 24, 27)

In [206]:
print(list1[0])
print(list1[1:5])
print(list1[1:5:2])
list1[0]='a'
print(list1)

3
[6, 9, 12, 15]
[6, 12]
['a', 6, 9, 12, 15, 18, 21, 24, 27]

In [207]:
list1[1:4]='b','b','c'
list1

['a', 'b', 'b', 'c', 15, 18, 21, 24, 27]

In [208]:
del list1[-1]
list1

['a', 'b', 'b', 'c', 15, 18, 21, 24]

In [209]:
'a' in list1

True

In [210]:
27 in list1

False

In [211]:
'a' not in list1

False

In [212]:
list1 + [10,20]

['a', 'b', 'b', 'c', 15, 18, 21, 24, 10, 20]

In [213]:
print(list1*2)

['a', 'b', 'b', 'c', 15, 18, 21, 24, 'a', 'b', 'b', 'c', 15, 18, 21, 24]

In [214]:
len(list1)

8

In [217]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [219]:
list1.append('a')
list1

[0, 1, 2, 3, 4, 'a', 'a']

In [220]:
list1.extend(['b','c'])
list1

[0, 1, 2, 3, 4, 'a', 'a', 'b', 'c']

In [221]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [222]:
a = list1.pop()
print(list1)
print(a)

[0, 1, 2, 3]
4

In [223]:
b = list1.pop(1)
print(list1)
print(b)

[0, 2, 3]
1

In [224]:
list1.remove(2)

In [225]:
list1

[0, 3]

In [226]:
list1.insert(1,'a')
list1

[0, 'a', 3]

In [227]:
print(list1)

[0, 'a', 3]

In [228]:
list1 = [1,1,2,2,3,4]
list1

[1, 1, 2, 2, 3, 4]

In [230]:
list1.count(1), list1.count(3)

(2, 1)

In [231]:
list1.index(2)

2

In [232]:
list1.reverse()
list1

[4, 3, 2, 2, 1, 1]

In [233]:
list1.sort()
list1

[1, 1, 2, 2, 3, 4]

In [234]:
list1.sort(reverse=True)
list1

[4, 3, 2, 2, 1, 1]

In [235]:
tuple1 = tuple(list1)
tuple1

(4, 3, 2, 2, 1, 1)

In [236]:
tuple1.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [237]:
tuple[1]=4

TypeError: 'type' object does not support item assignment

In [246]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [247]:
list2 = list1.copy()
list2

[0, 1, 2, 3, 4]

In [248]:
list1 = [
    [1,2,3],[4,5,6],[7,8,9]
]

In [249]:
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [250]:
list2 = list1.copy()
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [251]:
list2[0][1]='a'
list2

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

In [252]:
list1

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

In [253]:
list1 = [
    [1,2,3],[4,5,6],[7,8,9]
]

In [254]:
import copy

In [255]:
list2 = copy.deepcopy(list1)
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [257]:
list2[0][0]='a'
list2

[['a', 2, 3], [4, 5, 6], [7, 8, 9]]

In [258]:
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [261]:
a = dict()
type(a)

dict

In [263]:
profile = {
    'name' : '청년',
    'city' : 'Seoul',
    'height' : 180
}

In [264]:
profile['name']

'청년'

In [266]:
profile = dict(name = '청년',
    city = 'Seoul',
    height = 180)
profile

{'name': '청년', 'city': 'Seoul', 'height': 180}

In [267]:
'청년' in profile

False

In [268]:
'name' in profile

True

In [269]:
profile['name'] = '사람'
profile

{'name': '사람', 'city': 'Seoul', 'height': 180}

In [270]:
profile['name']

'사람'

In [271]:
profile['city'] = 'Busan'
profile

{'name': '사람', 'city': 'Busan', 'height': 180}

In [272]:
profile['math_score'] = 100
profile

{'name': '사람', 'city': 'Busan', 'height': 180, 'math_score': 100}

In [276]:
profile.setdefault('english_score',50)
profile

{'name': '사람',
 'city': 'Busan',
 'height': 180,
 'math_score': 100,
 'english_score': 100}

In [277]:
profile.update({
    'math_score' : 50,
    'height': 170
})
profile

{'name': '사람',
 'city': 'Busan',
 'height': 170,
 'math_score': 50,
 'english_score': 100}

In [278]:
profile['comment']

KeyError: 'comment'

In [279]:
profile.get('name')

'사람'

In [281]:
print(profile.get('comment'))

None

In [283]:
profile.get('comment',[])

[]

In [284]:
height = profile.pop('height')
print(height)
print(profile)

170
{'name': '사람', 'city': 'Busan', 'math_score': 50, 'english_score': 100}

In [286]:
profile.keys()

dict_keys(['name', 'city', 'math_score', 'english_score'])

In [287]:
profile.values()

dict_values(['사람', 'Busan', 50, 100])

In [288]:
profile.items()

dict_items([('name', '사람'), ('city', 'Busan'), ('math_score', 50), ('english_score', 100)])

In [289]:
profile.clear()
profile

{}

In [290]:
set1 = {1,2,3,3,3,3,3}
set1

{1, 2, 3}

In [291]:
list1 = [1,2,3,3,3,3]
list1

[1, 2, 3, 3, 3, 3]

In [292]:
list(set(list1)) #중복 제거

[1, 2, 3]

In [293]:
set1 = {1,2,3}
set2 = {3,4,5}
set1, set2

({1, 2, 3}, {3, 4, 5})

In [294]:
set1 | set2 #합집합

{1, 2, 3, 4, 5}

In [295]:
set1 & set2

{3}

In [296]:
set.union(set1, set2)

{1, 2, 3, 4, 5}

In [297]:
set.intersection(set1, set2)

{3}

In [298]:
set1-set2

{1, 2}

In [299]:
set.difference(set1, set2)

{1, 2}

In [300]:
set1^set2

{1, 2, 4, 5}

In [302]:
set.symmetric_difference(set1, set2)

{1, 2, 4, 5}

In [303]:
{1}<=set1

True

In [304]:
set1<=set2

False

In [305]:
set1.issubset(set2)

False

In [306]:
{1}.issubset(set1)

True

In [307]:
{1,2,3}.isdisjoint({4,5,6})

True

In [308]:
set1.add(4)
set1

{1, 2, 3, 4}

In [309]:
bool(0), bool(1), bool()

(False, True, False)

In [310]:
bool('오')

True

In [311]:
bool('나도 응용할 줄 알아')

True

In [312]:
bool([1,2,3])

True

In [313]:
bool({'name':'사람'})

True